/*   !!!CUSTOM STYLES!!!
body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.sticky-top {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    align-self: flex-start;
    width: 100%;
}

.top-elements {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    font-size: 30px;
    background: #F8D1F9;
}

.container {
    display: flex;
    flex-direction: row;
    background: #F6C5BB;
}

.sidebar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background: #BAF9DE;
    width: 15%;
    height: auto;
}

.sidebar-ul {
  list-style-type: none;
  margin-top: 10px;
  padding: 0;
  width: 160px;
}

.sidebar-li {
  display: block;
  padding: 8px 16px;
  text-decoration: none;
}

.content {
    display: block;
    overflow: auto;
    overflow-x: hidden;
}*/
